.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
    background: navy;
    color: white;
    text-align: left
}

.footer {
    background: navy;
    color: white;
}

.main {
  background-image: url("/home/otto/Dropbox/academic_stuff/kings/modules/3.web technologies/assignments/final_web/assets/church.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 5px solid #000;
}


body {
    padding: 2em;
      font-family: Arial, Helvetica, sans-serif;
}

h2{
  font-style: italic;
}

html{
    background-color: black;
}

nav{
    background: navy;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding: 10px;
}

nav a:hover{
    background-color: grey;
}

@media all and (min-width: 600px) {
}

@media all and (min-width: 800px) {
    .main{
	flex: 3 0px;
    }

    .main{order: 2;
	 }

    .footer{
	order: 4;
    }

    nav ul{
      display: flex;
      justify-content: flex-end;
    }
    
}

#map {position:absolute;top:0;bottom:0;right:0;left:0;}

#map_283bae84c86046eb8822b3c69eecaa5d {
        position : relative;
        width : 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
     }
